<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="false">

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlackList</servlet-name>
        <jsp-file>/black-list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlackList</servlet-name>
        <url-pattern>/black-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InfoCertification</servlet-name>
        <jsp-file>/info-certification.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoCertification</servlet-name>
        <url-pattern>/info-certification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WhiteList</servlet-name>
        <jsp-file>/white-list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WhiteList</servlet-name>
        <url-pattern>/white-list</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>utf-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <error-page>
         <error-code>500</error-code>
         <location>/error500.html</location>
    </error-page>
    <error-page>
         <error-code>404</error-code>
         <location>/error404.html</location>
    </error-page>

    <display-name>Archetype Created Web Application</display-name>
</web-app>
